@media (max-width: 767px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        width: 375px;
        height: 735px;
        align-content: center;
        flex-wrap: wrap;

        &__text {
            width: 343px;
            height: 66px;
            font-size: 14px;
            line-height: 22px;
        }

        &__button {
            margin-top: 32px;
            margin-left: 54px;
        }
    }

    .title {
        width: 343px;
        height: 77.44px;
        font-size: 32px;
        line-height: 39px;
        display: flex;
        align-items: center;
        text-align: center;
        padding-top: 238px;
    }

    .games {
        display: flex;
        flex-direction: column;
    }


}